/* skills section */
.skills-icon {
  font-size: 3rem;
  color: #40acf1;
  background: rgb(216, 214, 214);
}
.skills-icon:hover {
  color: white;
  background: #40acf1;
  transition: 1s;
}
.skills-underline {
  width: 4rem;
  height: 0.3rem;
  background: #40acf1;
  margin: 1rem auto;
}
/* skills section end */
