/* skills section */
.skills-icon{
    font-size: 3rem;
    color: var(--mainYellow);
    background: var(--mainGrey);
}
.skills-icon:hover{
    color: var(--mainWhite);
    background: var(--mainYellow);
    transition: 1s;
}
.skills-underline{
    width: 4rem;
    height: 0.3rem;
    background: var(--mainBlue);
    margin: 1rem auto;
}
/* skills section end */