.banner {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    color: white;
    overflow: hidden;
}

.height-max {
    height: calc(100vh - 76px);
    background: url("../../../image/headerBcg.jpeg") center/cover fixed no-repeat;
    animation-name: zoom;
    animation-duration: 15s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.title-banner {
    background: rgba(0, 0, 0, 0.4);
    border-left: 0.3rem solid rgb(49, 241, 107);
}

.title {
    font-weight: 700;
    font-size: 1.9rem;
}

@media (max-width: 420px) {
    .title {
        font-size: 1.2rem;
    }
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2) translate(-5%);
    }
    100%{
        transform: scale(1);
    }
}